<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</head>
<body>
    <header>
        <h2>{{ title }}</h2>
    </header>
    <section id="page">
        <div id="menu">
            {% block menu %}{% endblock menu %}
        </div>
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    </section>
</body>
</html>