header button {
    margin: auto 10px auto auto;
    height: fit-content;
}

#content {
    display: flex;
    flex-direction: column;
}

.chats {
    flex: 1;
    overflow-y: auto;
}

.chats ul {
    display: flex;
    flex-direction: column;
}

.sent, .received {
    background-color: rgb(152, 142, 142);
    border-radius: 12px;
    width: fit-content;
    max-width: 70%;
    padding: 4px;
    margin: 2px;
}

.sent span, .received span {
    font-size: small;
}

.sent p, .received p {
    margin: 2px;
}

.sent {
    margin-left: auto;
}

.text {
    height: fit-content;
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 10px;
    margin: auto;
}

textarea {
    flex: 1;
    resize: none;
    border-radius: 15px;
    background-color: rgb(152, 142, 142);
    padding: 1px 10px;
}

.text button {
    min-width: 5%;
    width: fit-content;
    background-color: darkgrey;
    border-radius: 12px;
    margin-left: 20px;
}

@media (max-width: 820px) {
    #menu {
        display: none;
    }
}
