header, .text, .chats {
    width: calc(100% - 1.3%);
    max-width: 698px;
    position: fixed;
}

header {
    background-color: darkgreen;
    flex-direction: row;
    min-height: 50px;
    display: flex;
    height: 5vh;
    padding: 0;
    margin: 0;
    top: 3px;
}

header h4 {
    margin-left: 10px;
    color: aquamarine;
}

header button {
    margin: auto 10px auto auto;
    height: fit-content;
}

.text {
    bottom: 3px;
    display: flex;
    flex-direction: row;
}

textarea {
    flex: 1;
    resize: none;
}

.text button {
    width: 15vw;
    max-width: 100px;
    background-color: darkgrey;
}

.chats {
    height: calc(100vh - 110px);
    overflow: hidden;
    top: 60px;
}