#menu ul li {
    border: 1px solid black;
    width: 95%;
    font-size: 1.2rem;
}

form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    flex-direction: column;
    max-width: fit-content;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    min-width: 300px;
    display: flex;
    padding: 10px;
    opacity: 0;
}

form input, span, select {
    margin: 2px;
}

form select {
    text-transform: uppercase;
    text-align: center;
    color: blue;
}

form span {
    font-size: .7rem;
    color:blue;
    opacity: 0.6;
}

.show {
    opacity: 1;

    -webkit-transition: opacity 1.7s;
    -moz-transition: opacity 1.7s;
    transition: opacity 1.7s;
}
