html, body{
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    scrollbar-width: none;
    display: flex;
    margin: 0;
}

.page {
    background-color: #eee;
    border-style: solid;
    border-width: 1px;
    max-width: 700px;
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: 2px;
}
