html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: center;     /* optional: horizontal centering */
}

body {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
}

header {
    border: 1px solid lightgray;
    height: 50px;
    display: flex;               /* align items inside header */
    align-items: center;         /* vertically center content */
    padding: 0 10px;             /* optional padding for spacing */
    box-sizing: border-box;      /* include padding and border in size */
}

header h2 {
    border: 1px solid lightgray;
    margin-left: 20px;
    padding: 5px;
    box-sizing: border-box;      /* include padding in size */
    margin: 0;                   /* reset default margin */
}

#page {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#page div {
    border: 1px solid lightgray;
}

#menu {
    width: 20%;
    text-align: center;
    overflow-y: auto;
}

#menu ul li {
    border: 1px solid lightgray;
    width: 98%;
    margin: 2px;
    text-align: center;
}

#content {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
}

#content form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px auto;
}

ul {
    list-style-type: none;
    padding: 2px;
}

.toast {
    background-color: darkgreen;
    border-radius: 12px;
    width: fit-content;
    padding: 2px 5px;
    position: fixed;
    margin: auto;
    opacity: 1;
    right: 0;
    left: 0;
}

.hide {
    opacity: 0;

    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

@media (max-width: 820px) {
    body {
        height: 100%;
        width: 100%;
    }

    header, #page div{
        border: none;
    }

    #page {
        display: flex;
        flex-direction: column;
    }
    
    #content {
        order: 1;
        flex: 1;
    }

    #menu {
        order: 2;
        height: fit-content;
        max-height: 50%;
        width: 95%;
        margin: auto;
    }

    #menu ul li {
        border-radius: 12px;
    }
}